!= js("script/jquery.min.js")

if theme.fancybox
  != css('/fancybox/jquery.fancybox')
  != js('/fancybox/jquery.fancybox.pack')

!= js("script/index.js")
!= js("script/node.js")
!= js("script/loading-bar.min.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async='')
