extends ../_partial/layout

block content
  .about
    .phrase
      h1 Make the Change That You Want to See in the World.
    .img-personal
      img(alt='Imagen Personal' src=!=url_for('images/personal.jpeg'))
    .description
      p A lo largo del desarrollo de mi vida me he topado con personas con habilidades extraordinarias y espiritus indomables, capaces de hacer cualquier percance en una oportunidad, sin duda alguna mi objetivo es crecer constantemente con un buen equipo de trabajo siempre viendo las oportunidades que me dan la vida como formas de dejar una grandiosa huella en el mundo.
      p Me siento a gusto cuando las personas comparten sus habilides y conocimientos abiertamente para que personas en pleno crecimineto humano puedan escuchar de sabias palabras, esto genera siempre una oprtunidad de aprender y por que no desaprender.
      p Construirse como persona es constantemente observarse a si mismo y progresar diferenciando lo que nos ha sido util como lo que deberiamos alejar de nuestra vida,
      p He construido este blog para que mis conocimientos de vida en el mundo del desarrollo y alguna que otra habilidad un poco mas blanda sea bien desarrollada.
      p A lo largo de mi vida he aprendido muchas cosas acerca de mi campo de accion como de muchos otros mas, asi que lector, lo invito a construirse conmigo como persona.
