extends ../_partial/layout

block content
  .cv-block
    h1 Curriculum Vitae
    ul.charge
      li Desarrollador Full-Stack
      li Arquitecto de Software
      li Gestor de Proyectos
      li Ingenieria de Sistemas

    ul.personal-data
      li Gabriel Vargas Monroy
      li Bogotá D.C. - Colombia

    .block-content
      h2 Perfil
      ul
        li Me caracterizo por ser una persona puntual, organizada, responsable, respetuoso y honesto en las labores y trabajos asignados; tengo un fácil aprendizaje y toda la disposición de seguir aprendiendo y crecer laboral, profesional y personalmente en el lugar donde estoy.
        li Me caracterizó por trabajar en equipo, se trabajar bajo presión.
        li A través de mi experiencia laboral he adquirido gran destreza en las áreas de atención, servicio al cliente y ventas, pedidos, tengo la capacidad de desempeñarme en cargos afines con las ventas y la administración.
        li Adaptable, buen observador en los detalles de mi labor. Capacidad para responder positivamente en situaciones de alta presión, responsable y organizado. Habilidad para trabajar en proyectos solo y en equipo. Disfruto y entiendo el cambio.
        li Gran capacidad de abstracción y análisis lógico-matemático. Desenvolvimiento a lo largo del sector de desarrollo, análisis y soporte.
        li Proactividad para los conocimientos y problemas que puedan surgir, con una gran cantidad de métodos de solución y deducción.

    .block-content
      h2 Estudios
      .section-content
        h3 Universidad Distrital Francisco Jose de Caldas
        h4 Estudios de Ingeniería de Sistemas
        ul
          li Construcción de los conocimientos de educación superior pertinentes a la hora de implementar ingeniería de software y desarrollo, además de no ser necesariamente enfocado en el área de las tecnologías.
          li La abstracción y la lógica-matemática son un conjunto de necesidades que todo un conjunto de herramientas necesita a la hora de enfrentarse a los problemas que se ven en la vida actual.

      .section-content
        h3 Servicio Nacional de Aprendizaje(SENA)
        h4 Tecnico Desarrollador de Software
        ul
          li El área del desarrollo de Software es muy grande, hoy en día todo esta basado y dirigido para que se consuma en entornos virtuales, es por ello que son vitales los desarrolladores de software aptos para cualquier tecnología y la expansión de la misma.

      .section-content
        h3 I.E.D. Instituto Tecnico Industrial Piloto(ITIP)
        h4 Bachiller Tecnico Industrial
        ul
          li El área del desarrollo de Software es muy grande, hoy en día todo esta basado y dirigido para que se consuma en entornos virtuales, es por ello que son vitales los desarrolladores de software aptos para cualquier tecnología y la expansión de la misma.

    .block-content
      h2 Experiencia
      .section-content
        h3 Desarrollador Semi-Senior FullStack - Robotec Colombia S.A.S
        ul
          li Labores variadas incluyendo back-end, front-end, gestion de bases de datos, arquitectura de sistemas.
          li Construccion de plataforma vinculada a muchas empresas gubernamentales de un escalamiento masivo que puede comprender facilmente los miles de datos por hora.
          li Gestion de tecnolgias back-end y devops.
          li Herramientas como Node JS, con alta seguridad y construccion de base de datos SQL y NO SQL, SQL-Server y Mongo DB
      .section-content
        h3 Ingeniero de Software - Desarrollador Back-End
        ul
          li Desarrollo de plataformas WEB aplicables en un gran ámbito de tecnologías, con distintos tipos de arquitecturas.
          li Gestión y uso de metodología SCRUM para el desarrollo dentro del área de software ASHARA SOFT, enfocado principalmente en todo el software que a este se le delega.
          li Construcción, análisis y diseño del tecnologías de soporte con MONGODB, POSTGRESQL, JAVASCRIPT, CSS, HTML5, SASS, LESS, etc.

    .block-content
      h2 Premios y Reconocimientos
      .section-content
        h3 Maraton de Programacion UD - Rango Intermedio
        p Segundo Puesto
      .section-content
        h3 Maraton de Programacion UD - Rango Elite
        p Tercer Puesto
      .section-content
        h3 Maraton de Programacion UD - Rango Avanzado
        p Quinto Puesto

    .block-content
      h2 Presentaciones - Talleres - Conferencias
      .section-content
        h3 Semana de Ingeniería y Diseño - Universidad Distrital Francisco Jose de Caldas
        h4 Motores de Vistas en el actual sector de Front-End
        ul
          li Introducción de tecnologías usadas en el mercado de producción para desarrolladores Front-End construidas principalmente para hacer mucho mas fácil la construcción WEB.

    .block-content
      h2 Articulos - Ensayos - Monografias
      .section-content
        h3 Diseño de un Sistema Neuro-Difuso para la Deteccion Temprana de Norovirus en agua Potable de Bogotá
        h4 Report Estudiantil - Area Cibernetica III
        ul
          li Los Norovirus son un problema mundial que puede causar enfermedades que son posibles y fáciles de tratar si se corrigen a tiempo, si se corrige la proliferación se puede resolver fácilmente y proponer planes para contrarrestar la proliferación.
      .section-content
        h3 Uso de Algoritmos Genéticos en Paralelo para una Solución de un Pequeño Problema de Optmización Usando Sistemas Reactivos
        h4 Reporte Estudiantil - Área Ciencias de la Complejidad
        ul
          li las tecnologías de implementación de algoritmos evolutivos en paralelo son una solución a toda una gama de problemas en que la solución asincrónica puede resolver rápidamente ello, bajo una implementación resiliente.

    .block-content
      h2 Habilidades
      h3 Habilidades acerca de Ingenieria
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='60' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/sistema.svg')
          h3 Teoria General de Sistemas
        .card-skill
          .ldBar.auto.label-center(data-value='60' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/complex.svg')
          h3 Ciencias de la Complejidad
        .card-skill
          .ldBar.auto.label-center(data-value='50' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/chat.svg')
          h3 Cibernetica
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/interface.svg')
          h3 Gestion de Proyectos
        .card-skill
          .ldBar.auto.label-center(data-value='90' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/computing.svg')
          h3 Ciencias de la Computacion
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/management.svg')
          h3 Administracion y Liderazgo
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/financing.svg')
          h3 Teoria de la Informacion
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/online.svg')
          h3 Ventas y Mercadeo
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/weapons.svg')
          h3 Encriptacion y Seguridad
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/sistema.svg')
          h3 Matematicas Avanzadas
        .card-skill
          .ldBar.auto.label-center(data-value='60' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/healthcare-and-medical.svg')
          h3 Etica y Bioetica
        .card-skill
          .ldBar.auto.label-center(data-value='50' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/electron.svg')
          h3 Fisica Avanzada
        .card-skill
          .ldBar.auto.label-center(data-value='40' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/money.svg')
          h3 Economia

    .block-content
      h3 Habilidades Profesionales Acerca de la Ingenieria de Software
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='90' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/multimedia-option.svg')
          h3 Sistemas de Control de Versiones
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/computer(1).svg')
          h3 Seguridad
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/gear.svg')
          h3 Buena Practicas - Clean Code
        .card-skill
          .ldBar.auto.label-center(data-value='85' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/file.svg')
          h3 Arquitectura de Sistemas
        .card-skill
          .ldBar.auto.label-center(data-value='75' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img='/images/cv/multimedia-option.svg')
          h3 Optimizacion de Software
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/multimedia.svg'))
          h3 Gestion de Sistemas de Base de Datos
        .card-skill
          .ldBar.auto.label-center(data-value='50' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/multimedia(1).svg'))
          h3 Administracion de Redes
        .card-skill
          .ldBar.auto.label-center(data-value='40' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/financing.svg'))
          h3 Validacion y Verificacion
        .card-skill
          .ldBar.auto.label-center(data-value='75' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/transport.svg'))
          h3 Dev-Ops
        .card-skill
          .ldBar.auto.label-center(data-value='40' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/good.svg'))
          h3 Ciencia de Datos
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/gaming.svg'))
          h3 Video Juegos
        .card-skill
          .ldBar.auto.label-center(data-value='20' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/money(1).svg'))
          h3 Blockchain
        .card-skill
          .ldBar.auto.label-center(data-value='60' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/fruit.svg'))
          h3 Internet de las Cosas

    .block-content
      h3 Habilidades Tecnicas del Lenguaje de Programacion
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='95' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/symbol.svg'))
          h3 Javascript
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/logos.svg'))
          h3 Python
        .card-skill
          .ldBar.auto.label-center(data-value='75' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/internet.svg'))
          h3 Bash Scripting
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/interface(1).svg'))
          h3 SQL
        .card-skill
          .ldBar.auto.label-center(data-value='40' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/squares.svg'))
          h3 Java
        .card-skill
          .ldBar.auto.label-center(data-value='50' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/beverage.svg'))
          h3 Elixir
        .card-skill
          .ldBar.auto.label-center(data-value='50' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/signaling.svg'))
          h3 Go
        .card-skill
          .ldBar.auto.label-center(data-value='40' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/logotype.svg'))
          h3 C++
        .card-skill
          .ldBar.auto.label-center(data-value='30' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/fashion.svg'))
          h3 Ruby
        .card-skill
          .ldBar.auto.label-center(data-value='30' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/symbols.svg'))
          h3 C#
        .card-skill
          .ldBar.auto.label-center(data-value='20' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/interface(2).svg'))
          h3 PHP

    .block-content
      h3 Habilidades Tecnicas Front-End
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/nature.svg'))
          h3 Angular
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/dog.svg'))
          h3 Pug
        .card-skill
          .ldBar.auto.label-center(data-value='40' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/electron.svg'))
          h3 React
        .card-skill
          .ldBar.auto.label-center(data-value='60' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/computer(3).svg'))
          h3 Django

    .block-content
      h3 Habilidades Tecnicas Back-End
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='90' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/file12.svg'))
          h3 Node.js
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/science.svg'))
          h3 Flask
        .card-skill
          .ldBar.auto.label-center(data-value='50' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/people.svg'))
          h3 Phoenix
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/summertime.svg'))
          h3 Sails - API

    .block-content
      h3 Paradigmas de Programacion
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='90' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/multimedia123.svg'))
          h3 Estructurado
        .card-skill
          .ldBar.auto.label-center(data-value='95' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/tool.svg'))
          h3 Orientado A Objetos
        .card-skill
          .ldBar.auto.label-center(data-value='85' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/sign.svg'))
          h3 Funcional

    .block-content
      h3 Arquitectura de Programacion
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='95' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/multimedia123.svg'))
          h3 Monolitico
        .card-skill
          .ldBar.auto.label-center(data-value='85' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/hand.svg'))
          h3 Dirigida Por Servicios
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/flash.svg'))
          h3 Microservicios - Orientada a Eventos
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/shapes-and-symbols.svg'))
          h3 Hexagonal
        .card-skill
          .ldBar.auto.label-center(data-value='40' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/seo-and-web.svg'))
          h3 DDD

    .block-content
      h3 Metodologias
      .cards
        .card-skill
          .ldBar.auto.label-center(data-value='85' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/circular-arrows.svg'))
          h3 Scrum
        .card-skill
          .ldBar.auto.label-center(data-value='80' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/nature.svg'))
          h3 Cascada
        .card-skill
          .ldBar.auto.label-center(data-value='70' data-fill-background-extrude='-0.5' data-type='fill' style='width:100%;height:190px' data-img!=url_for('/images/cv/silhouette.svg'))
          h3 XP


